<!DOCTYPE html>
<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 03.12.2024, 19:47</time>
            <h2><a href="">What does Pot of Greed do?</a></h2>
            <p>Pot of Greed is a Normal Spell that **lets you draw 2 cards**… that's it.</p>
        </article>

        <article>
            <time>published: 02.12.2024, 15:18</time>
            <h2><a href="">What is Love</a></h2>
            <p>It's a bond that often involves understanding each other's core values, beliefs, and life goals.</p>
        </article>
    </body>
</html>
